h1 {
    text-align:center;
    width: 100%; 
    background-color: lightgreen;
    color: blue;
}

p {
    text-align: left;
    color: blue;
    font-size: 22px;
    font-style: italic;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: blue;
}