* {
    margin:0;
    padding:0;
    font-size: 24px;
    overflow: hidden;
    box-sizing:border-box;    
}


li
{
    padding: 15px;
    margin-bottom: 10px;
    background-color: gray;
}

li:hover
{
    background-color: green;
}

.cabecera {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenido {
    height: 33%;
    width: 90%;
    max-height: 635px;
    display: block;
    float: left;
    overflow-y: auto;
}

.texto {
    height: 33%;
    width: 70%;
    max-height: 635px;
    display: block;
    float: left;
    overflow-y: auto;
    background-color: beige;
}

.menu {
    height: 33%;
    width: 30%;
    display: block;
    float: left;
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 180px;
    padding-bottom: 180px;
}

.principal {
    height: 100%;
    display: block;
    float: left;
}

.clear
{
    clear: both;
}

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    padding: 25px;
}

@media screen and (max-width:1000px) {
    
    *{
        font-size: 30px;
    }

    h1{
        font-size: 35px;
    }

    .contenido{
        width: 100%;
    }
}